Repository openmultiplayer/wiki, changes with the owners that CODEOWNERS names for each.
All owners: @openmultiplayer/wiki, @iPollo, @aktah, @rsetiawan7, @andreieurt, @tr1xy

CODEOWNERS:

*                                                                               @openmultiplayer/wiki
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7
/docs/translations/ro/                                                          @andreieurt
/docs/translations/sr/                                                          @tr1xy

Added PT Translation: controllingaserver.md file
  docs/translations/pt/scripting/resources/_server/controllingaserver.md
  docs/translations/pt/scripting/resources/dialogstyles.md
Owners: @iPollo

Fixed broken Hyperlinks
  docs/scripting/resources/_server/controllingaserver.md
Owners: @openmultiplayer/wiki

Fixed broken Hyperlinks/2
  docs/scripting/resources/_server/controllingaserver.md
Owners: @openmultiplayer/wiki

fix(translation/id/Contributing): - Fix CLA link not formatted properly. - Remove English text (because I forget to remove)
  docs/translations/id/meta/Contributing.md
Owners: @rsetiawan7

Initalisers Romanian
  docs/translations/ro/language/Initialisers.md
Owners: @andreieurt

Create Operators.md
  docs/translations/ro/language/Operators.md
Owners: @andreieurt

Update docs/tutorials/MenuGuide.md
  docs/tutorials/MenuGuide.md
Owners: @openmultiplayer/wiki

Create Tags.md
  docs/translations/ro/language/Tags.md
Owners: @andreieurt

Create Style page Romanian
  docs/translations/ro/language/Style.md
Owners: @andreieurt

Revert #234
  docs/scripting/resources/_server/controllingaserver.md
Owners: @openmultiplayer/wiki

Rename docs/translations/ro/language/Operators.md to docs/translations/ro/scripting/language/Operators.md
  docs/translations/ro/scripting/language/Operators.md
Owners: @andreieurt

Rename docs/translations/ro/language/Initialisers.md to docs/translations/ro/scripting/language/Initialisers.md
  docs/translations/ro/scripting/language/Initialisers.md
Owners: @andreieurt

Rename docs/translations/ro/language/Tags.md to docs/translations/ro/scripting/language/Tags.md
  docs/translations/ro/scripting/language/Tags.md
Owners: @andreieurt

Rename docs/translations/ro/language/Style.md to docs/translations/ro/scripting/language/Style.md
  docs/translations/ro/scripting/language/Style.md
Owners: @andreieurt

Some Events and Title (TR)
  docs/scripting/callbacks/index.md
  docs/translations/tr/scripting/callbacks/OnActorStreamIn.md
  docs/translations/tr/scripting/callbacks/OnActorStreamOut.md
Owners: @openmultiplayer/wiki

function (TR)
  docs/translations/tr/scripting/functions/AddCharModel.md
  docs/translations/tr/scripting/functions/AddMenuItem.md
  docs/translations/tr/scripting/functions/AddPlayerClass.md
  docs/translations/tr/scripting/functions/AddPlayerClassEx.md
  docs/translations/tr/scripting/functions/AddSimpleModel.md
  docs/translations/tr/scripting/functions/AddSimpleModelTimed.md
  docs/translations/tr/scripting/functions/AddStaticPickup.md
  docs/translations/tr/scripting/functions/AddStaticVehicle.md
  docs/translations/tr/scripting/functions/acos.md
Owners: @openmultiplayer/wiki

Polish translation of Contributing.md
  docs/translations/pl/meta/Contributing.md
Owners: @openmultiplayer/wiki

Typo fix
  docs/translations/pl/scripting/functions/AddCharModel.md
Owners: @openmultiplayer/wiki

Added PT Translation: index.md file
  docs/translations/pt/index.md
Owners: @iPollo

Added PT Translation for some callbacks
  docs/translations/pt/scripting/callbacks/OnClientMessage.md
  docs/translations/pt/scripting/callbacks/OnEnterExitModShop.md
  docs/translations/pt/scripting/callbacks/OnFilterScriptExit.md
  docs/translations/pt/scripting/callbacks/OnFilterScriptInit.md
  docs/translations/pt/scripting/callbacks/OnGameModeExit.md
  docs/translations/pt/scripting/callbacks/OnGameModeInit.md
Owners: @iPollo

Update atan2.md
  docs/scripting/functions/atan2.md
Owners: @openmultiplayer/wiki

Added PT Translation
  docs/translations/pt/scripting/callbacks/OnIncomingConnection.md
  docs/translations/pt/scripting/callbacks/OnObjectMoved.md
Owners: @iPollo

Create OnActorStreamIn.md
  docs/translations/ro/scripting/callbacks/OnActorStreamIn.md
Owners: @andreieurt

Create OnActorStreamOut.md
  docs/translations/ro/scripting/callbacks/OnActorStreamOut.md
Owners: @andreieurt

replace lunr with docsearch
  docusaurus.config.js
  package-lock.json
  package.json
  src/theme/SearchBar/algolia.css
  src/theme/SearchBar/index.js
  src/theme/SearchBar/lib/DocSearch.js
  src/theme/SearchBar/lib/lunar-search.js
  src/theme/SearchBar/lib/templates.js
  src/theme/SearchBar/lib/utils.js
  src/theme/SearchBar/lib/zepto.js
  src/theme/SearchBar/styles.css
Owners: @openmultiplayer/wiki

transform ISO639-1 directory names for translations into their actual native language name for the sidebar
  package-lock.json
  package.json
  sidebars.js
Owners: @openmultiplayer/wiki

colormod.md for ro
  docs/translations/ro/tutorials/culoarefixata.md
Owners: @andreieurt

updated gametextstyles, gametextforall, gametextforplayer pages
  docs/scripting/functions/GameTextForAll.md
  docs/scripting/functions/GameTextForPlayer.md
  docs/scripting/resources/gametextstyles.md
  static/images/gameTextStyles/120px-Game-text-type0.png
  static/images/gameTextStyles/120px-Game-text-type1.png
  static/images/gameTextStyles/120px-Game-text-type2.png
  static/images/gameTextStyles/120px-Game-text-type3.png
  static/images/gameTextStyles/120px-Game-text-type4.png
  static/images/gameTextStyles/120px-Game-text-type5.png
  static/images/gameTextStyles/120px-Game-text-type6.png
  static/images/gametextstyles/style0.png
  static/images/gametextstyles/style1.png
  static/images/gametextstyles/style2.png
  static/images/gametextstyles/style3.png
  static/images/gametextstyles/style4.png
  static/images/gametextstyles/style5.png
  static/images/gametextstyles/style6.png
Owners: @openmultiplayer/wiki

prettifier test
  docs/scripting/functions/GameTextForAll.md
  docs/scripting/functions/GameTextForPlayer.md
  docs/scripting/resources/gametextstyles.md
Owners: @openmultiplayer/wiki

Update AddPlayerClass.md
  docs/translations/tr/scripting/functions/AddPlayerClass.md
Owners: @openmultiplayer/wiki

Update docs/translations/ro/scripting/callbacks/OnActorStreamIn.md
  docs/translations/ro/scripting/callbacks/OnActorStreamIn.md
Owners: @andreieurt

fix issues
  docs/tutorials/PickupGuide.md
Owners: @openmultiplayer/wiki

fix up menu guide
  docs/tutorials/MenuGuide.md
Owners: @openmultiplayer/wiki
